<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="club.polyappdev.clubapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <!-- android:theme="@style/AppTheme.NoActionBar"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StudentViewable.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AllViewable.events" />
        <activity android:name=".AllViewable.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClubViewable.ClubMainActivity"></activity>
        <activity
            android:name="MySetting"
            android:label="@string/title_my_settings">
        </activity>
        <activity
            android:name=".EditProfile">
        </activity>
        <activity
            android:name=".Pop"
            android:theme = "@style/AppTheme.PopupPassword">
        </activity>
        <activity
            android:name=".ClubProfileActivity"
            android:label="@string/title_activity_club_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>